
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public
/var/
/vendor/
/translations/*
/config/jwt
/bin/

###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

# PACKAGES
/config/packages/*
!/config/packages/gesdinet_jwt_refresh_token.yaml
!/config/packages/lexik_jwt_authentication.yaml
!/config/packages/reset_password.yaml
!/config/packages/security.yaml
# PACKAGES

# ROUTES
/config/routes/*
!/config/routes/gesdinet_jwt_refresh_token.yaml
# ROUTES

# CONFIG
/config/bundles.php
/config/preload.php
/config/services.php
# CONFIG

/migrations

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

.editorconfig
.env 
.env.dev
.env.test
compose.override.yaml
compose.yaml 
composer.lock
package-lock.json
phpunit.dist.xml 
symfony.lock