{% extends 'base.html.twig' %}

{% block title %}Un mail de changement de mot de passe vous a été envoyé !{% endblock %}

{% block body %}
    <p>
        Si un compte avec cet email existe, nous enverrons un lien par mail vous permettant de modifier le mot de passe. 
        Ce lien expirera dans 1 heure.
    </p>
    <p>
        Si vous ne recevez pas d'email, veuillez vérifier dans vos spam, ou <a href="{{ path('app_forgot_password_request') }}">Cliquez ici</a> pour le renvoyer.
    </p>
{% endblock %}
